* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body background */
body {
    background-color: lavender;
    background-image: url(/assests/images/background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* header*/
.header {
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(/assests/images/moon.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 30%;
    display: flex;
    align-items: flex-start;
}
.selfie {
    height: 150px;
    border-radius: 40px;
}

.header h1 {
    display: inline-block;
    font-size: 5vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: khaki;
    border:none

}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li a {
    padding: 20px 25px ;
    font-size: 2vw;
}
.header nav ul li a:hover {
    text-shadow: 0 0 10px rgba(228, 200, 39, 0.984);
}


/* section */
section {
    padding: 10px;
}

/* A */
a {
    color: khaki;
    text-decoration: none;
}

/* about me */

#about-me{
    font-size: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    color: black;
}

/* p */
p  {
    font-size: 2vw;
    margin: 20px;
    color: black;
}

/* work */
#work {
    font-size: 3vw;
    margin: 20px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.run, .horiseon, .c1, .c2, .c3, .c4 {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 10px 20px;
}

.runpic, .hs, .burger, .skates, .boo, .sweat {
    width: 100px;
    height: 120px;
}

img:hover {
    transform: scale(1.5);
    z-index: 999;
}


/* contact */
#contact {
    font-size: 3vw;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.phone, .email, .link {
    color: black;
}

.address {
    font-size: 2vw;
    font-display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

/* resume */
#resume {
    font-size: 3vw;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.rest {
    font-size: 1.75vw;
    color: black;
    margin: 20px;
}

.rest ul li {
    list-style: none;
}

/* media queries */
@media  screen and (max-width:980px) {
    .header {
        padding-bottom: 20;
        justify-content: center;
        position: relative;
    }

    .header h1 {
        width: 100%;
        text-align: center;
        font-size: 40px;
    }

    header nav ul {
        margin-top: 15px;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .header nav ul li a {
        font-size: 13px;
    }

    #about-me {
        padding-top: 10px;
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }
    
  
}

@media screen and (max-width:768px) {
    
}

@media screen and (max-width:575px) {
    
}