:root {
    --primary-color: black;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body background */
body {
    background-image: url(../images/background.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover ;
    
}

/* header*/
.header {
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    background-image: url(../images/flowers.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5%;
    z-index: 9999;
    
   
}
.selfie {
    height: 150px;
    border-radius: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 5vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--primary-color);
    border:none

}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li a {
    padding: 20px 25px ;
    font-size: 2vw;
}
.header nav ul li a:hover {
    text-shadow: 0 0 10px rgba(12, 11, 5, 0.984);
}


/* section */
section {
    padding: 10px;
}

/* A */
a {
    color: black;
    text-decoration: none;
}

/* about me */

#about-me, #work, #contact, #resume {
    font-size: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    color: black;
    margin: 20px;
}

/* p */
p  {
    font-size: 2vw;
    margin: 20px;
    color: var(--primary-color);
}

/* work */



.run {
    margin: 100px auto;
    box-sizing: border-box;
    padding: 40px 40px 40px ;
    width: 300px;
    
}

.runpic{
    width: 100%;
    border-style: groove;
    border-width: 5px;
}

.columncontainer {
    justify-content: center;
    display: flex;
}


.column1 {
    width: 200px;
    padding: 5px;
    margin: 20px;
}

.column2 {
   width: 200px;
    padding: 5px;
    margin: 20px;

}

.horiseon, .c1, .c2, .c3, .c4 {
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    border-width: 1px;
    justify-content: space-between;


}


.hs, .burger, .skates, .boo, .sweat {
    width: 100%;
    border-width: 5px;
    border-style: groove;
    border-color: coral;
}


/* contact */


.phone, .email, .link {
    color: black;
}

.address {
    font-size: 2vw;
    font-display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

/* resume */


.rest {
    font-size: 1.75vw;
    color: black;
    margin: 20px;
}

.rest ul li {
    list-style: none;
}

.footer {
    padding: 50px;
    background-image: url(../images/flowers.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    z-index: 9999;


}

/* media queries */
@media  screen and (max-width:980px) {
    .header {
        padding-bottom: 20;
        justify-content: center;
        position: relative;
    }

    .header h1 {
        width: 100%;
        text-align: center;
        font-size: 40px;
    }

    header nav ul {
        margin-top: 15px;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .header nav ul li a {
        font-size: 13px;
    }

    #about-me {
        padding-top: 10px;
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }

    #work {
        font-size: 30px;
    }

    #contact {
        font-size: 30px;
    }

    .address {
        font-size: 20px;
    }

    #resume {
        font-size: 30px;
    }
    
    .rest {
        font-size: 20px ;
    }


    .footer{
        background-size: cover;
    }

    .header {
        background-size: cover;
    }

  
}

@media screen and (max-width:768px) {
    .header nav ul li a {
        font-size: 25px;
    }


    .footer{
        background-size: cover;
    }

    .header {
        background-size: cover;
    }

}

@media screen and (max-width:575px) {
    .columncontainer {
        flex-wrap: wrap;
    
    }

    .footer{
        background-size: cover;
    }

    .header {
        background-size: cover;
    }

}